* {
    margin: 32px;
    /* font-family and font-color */
    font-family: monospace;
    color: white;
}

body {
    background-color: black;
}

h1 {
    /* for markdown headings */
    font-size: 20px;
    margin: 0;
}

p {
    /* adjust paragraph spacing, overriding the above */
    line-height: 1.2;
    text-align: justify;
    hyphens: auto;
    font-size: 14px;
}